#container
{width:60%;margin:0 auto;}
body {font-family: 'Open Sans', sans-serif; margin-top:0px;}
.header{border-radius:5px;background-color: #E3E8E8;padding-left: 3%; padding-right:3%;padding-bottom: .1%;  width:60%;margin: 0 auto;}
h1 {border-bottom: solid; border-bottom-color: gray;}
h3 {color: gray;}
ul li{font-size: 80%; margin-left:-40px; }
ul {list-style-type: none; margin-top: -15px}
li em{color:#757878;}
h5 + blockquote {line-height: 90%; font-size: 80%}
.halfLeft{width:60%; font-size: 80%;float: left;}
.halfRight{width:35%; float: left; margin-left: 5%; }
.middle li {padding-top:1%;}
.sched {clear: both;}
a {text-decoration: none}
a:link, a:active, a:visited, a:hover {color: #33CCCC}
a:hover {color: #FF6666}
footer {margin-top: 10%; border-top:solid gray; padding:2%;}